@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Nerko+One&display=swap');

.messageLogin{
    font-family: 'IM Fell Double Pica';
    font-size: calc(1em + 2vw);
    
}

.container-main{
    background-color: rgba(232, 211, 233, 0.582);
    border: 6px solid #904481;
    border-radius: 10px;
    padding-top: 10px;
    /* margin-top: 15px !important; */
   
}

.link{
    padding:5px 10px 5px 10px;
    border-radius: 5px;
    border: 3px solid #904481;
    color: white;
    text-align: center;

}

.link:link, a:visited, a:focus {
  background: #904481;
}

.link:hover{
  color: #d6c3d2
}
